.contact {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}
.contact_top {
  p {
    font-family: "La Belle Aurore", cursive;
    color: #515152;

    margin-left: 3vw;
    font-size: 18px;
  }
}
.contact_top p:nth-child(2) {
  margin-left: 5vw;
}
//Contact mid
.contact_mid{
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  width: 50vw;

  p {
    font-family: "La Belle Aurore", cursive;
    color: #515152;

    margin-left: 2vw;
    font-size: 18px;
  }
  h1 {
    color: #cd5244;
    font-family: "Oswald", sans-serif;
    font-size: 4rem;
    margin: 0;
    margin-left: 3vw;
  }
  h4 {
    color: white;
    margin-left: 3vw;
    font-family: "Open Sans", sans-serif;

    margin-top: 20px;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
  }
}
.contactForm {
  margin-top: 15vh;
  width: 90vw;
}
.contactForm_form {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.contactForm_input {
  width: 100%;
  border: 1px solid #ff0000;
  margin: 10px;
}
.contactForm_top {
  display: flex;
}

.contactForm_button{
  color: #ff0000;
  font-size: 13px;
  letter-spacing: 4px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #ff0000;
  margin-top: 25px;
  float: left;
  background-color: transparent;
  white-space: nowrap;
  font-weight: 400;

  margin-left: 3vw;
  
}
// Contact Bottom

.contact_bottom {
  margin-top: 15vh;
  p {
    font-family: "La Belle Aurore", cursive;
    color: #515152;

    margin-left: 3vw;
    font-size: 18px;
  }
}


.contact_bottom p:nth-child(2) {
  margin-left: 5vw;
}
