.contact {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}
.contact_top {
  p {
    font-family: "La Belle Aurore", cursive;
    color: #515152;

    margin-left: 3vw;
    font-size: 18px;
  }
}
.contact_top p:nth-child(2) {
  margin-left: 5vw;
}
//Contact mid
.contactForm {
  margin-top: 15vh;
  width: 90vw;
}
.contactForm_form {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.contactForm_input {
  width: 100%;
  border: 1px solid #ff0000;
  margin: 10px;
}
.contactForm_top {
  display: flex;
}
// Contact Bottom

.contact_bottom {
  margin-top: 15vh;
  p {
    font-family: "La Belle Aurore", cursive;
    color: #515152;

    margin-left: 3vw;
    font-size: 18px;
  }
}
.contact_bottom p:nth-child(2) {
  margin-left: 5vw;
}
